.inline-container{
    border: 1px solid black;
    ;
}
.inline-block-container{
    border: 1px solid black;
    ;
}
.block-container{
    border: 1px solid black
    ;
}
.flex-container{
    border: 1px solid black
    ;
    display: flex;
    justify-content: space-evenly
}
.inline-div{
    display: inline;
    background-color: black;
}
.inline-block-div{
    display: inline-block;
    background-color: red;
}
.block-div{
    display: block;
    background-color: green;
}
.flex-div{
     background-color: blue;
     
}
.inline-div, .inline-block-div, .block-div, .flex-div{
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    color: gray;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color 3x;
    animation-name: kysela;
    animation-timing-function: ease-in-out;
  
}

.inline-div:hover, .inline-block-div:hover, .block-div:hover, .flex-div:hover{
    background-color: purple;
}
